* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  text-decoration: none !important;
  list-style-type: none;
}
@import url("../css/bootstrap.css");
@import url("../css/responsive.css");
@import url("../css/animate.css");
@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");

@font-face {
  font-family: "HelveticaNeueLTPro-BdCn";
  src: url("../css/fonts/HelveticaNeueLTPro-BdCn.eot"); /* IE9 Compat Modes */
  src: url("../css/fonts/HelveticaNeueLTPro-BdCn.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../css/fonts/HelveticaNeueLTPro-BdCn.otf") format("opentype"), /* Open Type Font */
    url("../css/fonts/HelveticaNeueLTPro-BdCn.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../css/fonts/HelveticaNeueLTPro-BdCn.woff") format("woff"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: Playfair Display;
    src: url("../css/fonts/PlayfairDisplay-Regular.eot") format("embedded-opentype"),url("../css/fonts/PlayfairDisplay-Regular.woff") format("woff"),url("../css/fonts/PlayfairDisplay-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: HelveticaNeue-CondensedBold;
    src: url("../css/fonts/HelveticaNeueLTPro-XBlkCn.eot") format("embedded-opentype"),url("../css/fonts/HelveticaNeueLTPro-XBlkCn.woff") format("woff"),url("../css/fonts/HelveticaNeueLTPro-XBlkCn.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Helvetica Neue;
    src: url("../css/fonts/HelveticaNeueLTPro-LtCn.eot") format("embedded-opentype"),url("../css/fonts/HelveticaNeueLTPro-LtCn.woff") format("woff"),url("../css/fonts/HelveticaNeueLTPro-LtCn.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.head {
  width: 80% !important;
  margin: auto;
  padding: 0 0.75rem;
}
header #carouselExampleControls {
  background: url(img/footer-bg1.jpg);
  background-size: cover;
  z-index: 2;
  width: 100%;
}

header .carousel-control-next,
header .carousel-control-prev {
  width: 4% !important;
  opacity: 1 !important;
}
header .carousel-control-next-icon,
header .carousel-control-prev-icon {
  width: 1rem !important;
  height: 1rem !important;
  background-color: #c93c3c;
}

header .carousel-inner {
  width: 90% !important;
  margin: auto;
  align-items: center !important;
  position: relative;
  z-index: 1;
}
.carousel h6 {
  color: whitesmoke;
  font-weight: 400;
  font-size: 14px;
  padding: 0px;
  margin-bottom: 0;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 5px;
}
header .carousel-item {
  height: 30px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background: rgba(2, 0, 36, 1);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index: 10 !important;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.closeNav {
  display: none;
}
.my_navbar {
  width: 80% !important;
  margin: auto;
  padding: 0 0.75rem;
}
.myNavbar {
  /* border: 1px solid black; */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  position: relative;
  background: url(img/navbarbg.jpg);
  border-bottom: 3px solid #c93c3c;
}
.myNavbar::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #1314149f !important;
  z-index: -2;
}
.myNavbar ul {
  margin-bottom: 0 !important;
}
.navbarUl {
  display: flex;
  align-items: center;
  padding-left: 0;
}
.navbarUl li {
  position: relative;
  margin: 0px;
}
.navbarUl > li:first-child {
  margin-left: 10px;
}

.navbarUl > li::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: black !important;
  z-index: 0;
  transition: 0.2s ease-in-out;
}
.navbarUl > li:hover:after {
  height: 100%;
}

.dropdown li {
  margin: 0;
  padding: 0;
}
.navbarUl a {
  display: inline-block;
  color: whitesmoke;
  margin-left: 5px;
  padding: 11px 15px;
  position: relative;
  z-index: 1;
  font-size: 17px;
  font-family: "Lato", sans-serif;
  font-weight: 550 !important;
}
.navbarUl a:hover {
  color: whitesmoke;
}
.navbarUl li i {
  font-size: 13px;
}

.active_link {
  background-color: black;
}
.navbarUl > li:hover .active_link {
  color: white !important;
}
.open {
  position: relative !important;
}
.dropdown {
  position: absolute !important;
  top: 57px;
  width: 150px;
  text-align: center;
  padding: 0 !important;
  visibility: hidden;
  opacity: 0;
  transition: 0.4s;
  background-color: #f1f1f1;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
  z-index: 10;
}
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;900&display=swap");
.dropdown > li a {
  color: black;
  display: block !important;
  padding: 5px 0px !important;
  font-size: 17px;
}

.dropdown > li {
  border-bottom: 1px solid rgb(221, 221, 221);
}
.dropdown li:hover {
  color: red;
}
.dropdown > li a:hover {
  color: white !important;
  color: red !important;
}

.open:hover .dropdown {
  visibility: visible;
  opacity: 1;
}

.searchBtn {
  margin-right: 10px;
  font-weight: 600 !important;
  border: 2px solid #c93c3c !important;
  color: #c93c3c !important;
}
#navSpan {
  color: whitesmoke;
}
.select-box {
  position: relative;
  display: block;
  width: 70px !important;
  font-size: 17px;
  color: #60666d;
  border-radius: 10px;
}

.select-box__current {
  position: relative;
  box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  outline: none;
}

.select-box__current:focus + .select-box__list {
  opacity: 1;
  -webkit-animation-name: none;
  animation-name: none;
}
.select-box__current:focus + .select-box__list .select-box__option {
  cursor: pointer;
  border-radius: 5px;
}
.select-box__current:focus .select-box__icon {
  -webkit-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}
.select-box__icon {
  position: absolute;
  top: 50%;
  right: 8px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 1;
  transition: 0.2s ease;
  color: whitesmoke !important;
  font-size: 15px;
  font-weight: 200;
}
.select-box__value {
  display: flex;
  margin-right: 10px;
}
.select-box__input {
  display: none;
}
.select-box__input:checked + .select-box__input-text {
  display: block;
  border-radius: 4px;
  width: 50px;
  background-color: transparent;
  color: whitesmoke;
}
.select-box__input-text {
  display: none;
  margin: 0;
  padding: 2px 0 2px 5px;
  background-color: #fff;
  align-items: center;
  margin-left: 10px;
  color: whitesmoke;
  font-size: 17px;
  font-family: "Lato", sans-serif;
  font-weight: 550 !important;
}
.select-box__list {
  position: absolute;
  top: 35px;
  left: -30px;
  list-style: none;
  opacity: 0;
  -webkit-animation-name: HideList;
  animation-name: HideList;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: step-start;
  animation-timing-function: step-start;
  box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
}
.select-box__option {
  display: block;
  padding: 10px;
  background-color: #fff;
}
.select-box__option:hover,
.select-box__option:focus {
  color: gray;
  background-color: #e4e4e4;
}

@-webkit-keyframes HideList {
  from {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  to {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
}

@keyframes HideList {
  from {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  to {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
}
.fixed {
  position: fixed;
  top: -16px;
  width: 100% !important;
  margin: auto !important;
  transition: 0.2s;
  z-index: 10000;
  padding: 0 !important;
}

.main_content {
  width: 80%;
  margin: 45px auto;
  margin-bottom: 0;
}
.main_content_news_name {
  border-top: 3px solid rgb(24, 24, 24);
}
.main_content_news_name span {
  display: inline-block;
  padding: 8px 15px;
  color: white;
  background-color: rgb(15, 15, 15);
  font-size: 18px;
}

.main_content img {
  width: 100%;
}
.left_img {
  height: 500px;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}
.left_img_title,
.right_bottom_title,
.right_top_title {
  position: absolute;
  right: 5px;
  left: 20px;
  bottom: 10px;
  font-family: Verdana, BlinkMacSystemFont, -apple-system, segoe ui, Roboto,
    Oxygen, Ubuntu, Cantarell, open sans, helvetica neue, sans-serif;
  color: white;
}
.right_bottom_title h6 {
  font-size: 12px;
}
.left_img_title small,
.right_top_title small {
  color: rgb(223, 223, 223);
  font-size: 13px;
}
.left_img_title span,
.right_top_title span,
.right_bottom_title span {
  display: inline-block;
  padding: 4px 3px;
  margin: 10px 0;
  position: relative;
  border-radius: 2px;
  font-size: 11px;
  background: black;
  font-weight: 600;
  color: #fff !important;
  border-left: none;
}

.left_img_title span::after,
.right_top_title span::after,
.right_bottom_title span::after {
  content: "";
  position: absolute;
  left: 0;
  z-index: 0;
  bottom: -7px;
  border-top: 8px solid black;
  border-right: 8px solid transparent;
}
.left_img img {
  height: 100%;
  object-fit: cover;
  transform: scale(1);
  transition: all 0.6s ease-out 0s;
}
.left_img:hover img {
  transform: scale(1.1);
}
.right_top_img:hover .right_top_title > span,
.left_img:hover .left_img_title > span,
.right_bottom_img:hover .right_bottom_title > span {
  background: #ee1414;
}
.right_top_img:hover .right_top_title > span::after,
.right_bottom_img:hover .right_bottom_title > span::after,
.left_img:hover .left_img_title > span::after {
  border-top: 8px solid #ee1414;
}

.right_img {
  height: 500px;
}
.right_top_img {
  height: 300px;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
}
.right_top_img img {
  margin-bottom: 10px;
  object-fit: cover;
  transform: scale(1);
  transition: all 0.6s ease-out 0s;
}
.right_top_img:hover img {
  transform: scale(1.1);
}

.right_bottom_img {
  height: 190px;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}
.right_bottom_img img {
  margin-bottom: 10px;
  object-fit: cover;
  transform: scale(1);
  transition: all 0.6s ease-out 0s;
}

.right_bottom_img img {
  margin-bottom: 10px;
  object-fit: cover;
  transform: scale(1);
  transition: all 0.6s ease-out 0s;
}
.right_bottom_img:hover img {
  transform: scale(1.1);
}

.first_section {
  width: 80% !important;
  margin: 0 auto;
}
.area1_news {
  border-top: 3px solid rgb(15, 15, 15);
  border-radius: 2px;
}
.area1_news span {
  display: inline-block;
  padding: 8px 15px;
  color: white;
  background-color: rgb(15, 15, 15);
  font-size: 18px;
}
.area1_left_img img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.area1_left_title p {
  margin: 3px 0;
  color: rgb(25, 25, 25);
}
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Roboto+Condensed:wght@300&display=swap");
.area1_left_title h4 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
  color: rgb(49, 49, 49);
}
.area1_left_title small {
  color: gray;
}
.area1_left_title p:nth-of-type(2) {
  color: gray;
}

.area1_right_img img {
  width: 100%;
  height: 120px;
}
.area1_right {
  display: block;
  margin-bottom: 30px;
  color: black;
}
.area1_right small {
  color: gray;
  font-size: 12px;
}
.area1_right h6 {
  font-size: 14px;
  margin-bottom: 0;
}

.area1_right .row {
  align-items: center;
}

.area1_right:hover h6,
.area1_left:hover h4 {
  color: gray;
}

.contact {
  border-top: 3px solid rgb(15, 15, 15);
  border-radius: 2px;
}
.contact span {
  display: inline-block;
  padding: 8px 15px;
  color: white;
  background-color: rgb(15, 15, 15);
  font-size: 18px;
}
.contact_details {
  display: flex;
  flex-wrap: wrap;
  font-family: "Open Sans", arial, sans-serif;
}
.contact_details .facebook,
.contact_details .youtube,
.contact_details .twitter,
.contact_details .instagram,
.contact_details .telegram,
.contact_details .google {
  padding: 12px;
  width: 100px;
  margin-right: 5px;
  margin-bottom: 5px;
  border: 1px solid rgb(231, 230, 230);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.contact_details .facebook i,
.contact_details .youtube i,
.contact_details .twitter i,
.contact_details .instagram i,
.contact_details .telegram i,
.contact_details .google i {
  font-size: 25px;
}
.contact_details .facebook:hover i,
.contact_details .youtube:hover i,
.contact_details .twitter:hover i,
.contact_details .instagram:hover i,
.contact_details .telegram:hover i,
.contact_details .google:hover i {
  color: rgb(83, 83, 83);
}
.contact_details .facebook p,
.contact_details .youtube p,
.contact_details .twitter p,
.contact_details .instagram p,
.contact_details .telegram p,
.contact_details .google p {
  margin: 0;
  color: black;
  font-size: 13px;
  font-weight: bold;
}
.contact_details .youtube i,
.contact_details .google i {
  color: rgb(228, 5, 5);
  color: #db3236;
}
.contact_details .instagram i {
  color: purple;
}
.contact_details .facebook i {
  color: rgba(0, 0, 199, 0.842);
}
.contact_details .telegram i {
  color: #0088cc;
}

.facebook p:nth-of-type(2),
.youtube p:nth-of-type(2),
.twitter p:nth-of-type(2),
.instagram p:nth-of-type(2),
.google p:nth-of-type(2),
.telegram p:nth-of-type(2) {
  font-weight: normal;
  font-size: 12px;
}

.area2_news {
  margin-top: 20px;
  border-top: 3px solid black;
}
.area2_news span {
  display: inline-block;
  padding: 8px 15px;
  color: white;
  background-color: rgb(15, 15, 15);
  font-size: 18px;
}

.contain {
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;
}

.contain .area2_slider {
  width: 100%;
  height: 300px;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.4s;
  transform: scale(0);
}

.active_slider {
  opacity: 1 !important;
  transform: scale(1) !important;
}

.area2_news button {
  font-weight: 400 !important;
  background-color: rgb(177, 205, 212);
  color: #fff;
  margin: auto;
  text-align: center;
  display: inline-block !important;
  margin-top: 10px;
  border: 0px;
  cursor: pointer;
  transition: all 0.3s 0s ease-in-out;
}
.area2_news button:hover {
  background-color: rgb(111, 169, 184);
  color: #fff;
}
.area2_news button:active {
  outline: none !important;
  border: none !important;
}
.slider_img {
  position: relative;
  overflow: hidden;
}
.slider_img .slider_img_title {
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  text-align: center;
  padding: 12px;
}
.slider_img_title:hover {
  transition: 0.2s;
  color: rgb(111, 169, 184);
}

.area2_slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider_img_title p {
  margin-bottom: 0;
}
.slider_img_title h5 {
  font-size: 17px;
}

.popular_news {
  border-top: 3px solid black;
  position: sticky;
  top: 10px;
}
.popular_news span {
  display: inline-block;
  padding: 8px 12px;
  color: white;
  background-color: rgb(15, 15, 15);
  font-size: 18px;
}
.single_popular_news {
  display: flex;
  align-items: center;
}
.single_popular_news img {
  width: 112px;
  height: 111px;
  border-radius: 50%;
  object-fit: cover;
  transform: scale(1);
  transition: 0.3s;
  overflow: hidden;
}
.single_popular_news:hover img {
  transform: scale(1.1);
}
.popular_news_title {
  width: 200px;
  padding: 0 0 0 15px;
}
.popular_news_title p {
  margin-bottom: 3px !important;
  font-size: 14px;
  font-weight: 300;
  color: rgb(0, 0, 0);
}
.popular_news_title h6 {
  font-size: 15px;
  color: black;
}
.single_popular_news:hover h6 {
  color: rgb(111, 169, 184);
}

.area3_header {
  border-top: 3px solid black;
  padding-right: 0 !important;
}
.area3_header span {
  display: inline-block;
  padding: 4px 15px;
  color: white;
  background-color: rgb(15, 15, 15);
  font-size: 18px;
}
.area3_left_main_img,
.area3_right_main_img {
  height: 300px;
}
.area3_left_main_img img,
.area3_right_main_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.area3_left_main a,
.area3_right_main a,
.area3_left_main a:hover,
.area3_right_main a:hover {
  color: rgba(25, 25, 25);
}

.area3_left_main_title,
.area3_right_main_title {
  height: 200px;
}

.area3_left_main_title small,
.area3_right_main_title small {
  color: gray;
  font-size: 13px;
}
.area3_left_main_title p,
.area3_right_main_title p {
  color: gray;
  font-size: 15px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.single_area3_alt {
  display: flex;
  align-items: flex-end;
}
.area3_alt_img {
  width: 200px;
  height: 100px;
  margin-right: 10px;
}
.area3_alt_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.area3_alt_title {
  width: 300px;
}
.area3_alt_title a {
  color: rgba(25, 25, 25);
}

.area3_alt_title a:hover {
  color: rgb(111, 169, 184);
}
.area3_alt_title small {
  color: gray;
  font-size: 13px;
}
.area3_alt_title h6 {
  font-size: 15px;
  margin-bottom: 3px;
}
.second_section {
  width: 80%;
  margin: auto;
  border-top: 3px solid black;
}
.second_section span {
  display: inline-block;
  padding: 8px 15px;
  color: white;
  background-color: rgb(15, 15, 15);
  font-size: 18px;
}

.news_cards {
  display: flex;
  justify-content: space-evenly;
}
.card1,
.card2,
.card3,
.card4 {
  width: 300px;
  height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.card1 {
  background-image: url("img/card1.jpg");
}
.card2 {
  background-image: url("img/card2.jpg");
}
.card3 {
  background-image: url("img/card1.jpg");
}
.card4 {
  background-image: url("img/card2.jpg");
}

.card1::after,
.card2::after,
.card3::after,
.card4::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.137);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: 0.3s ease-in-out;
}
.card1:hover::after,
.card2:hover::after,
.card3:hover::after,
.card4:hover::after {
  /* filter: alpha(opacity=100);
  opacity: .0; */
  filter: drop-shadow(10px 10px 10px rgb(17, 187, 17));
}

.card_title {
  padding: 5px;
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
}
.card_title a,
.card_title a:hover {
  color: white;
}
.card_title h6 {
  font-size: 17px;
  font-weight: bold;
}
.third_section {
  width: 80%;
  margin: auto;
}
.third_section_news {
  border-top: 3px solid black;
}
.third_section_news > span {
  display: inline-block;
  padding: 8px 15px;
  color: white;
  background-color: rgb(15, 15, 15);
  font-size: 18px;
}
.single_third_section_img {
  position: relative;
}
.single_third_section_img span {
  position: absolute;
  top: 10px;
  left: 10px;
  display: inline-block;
  padding: 4px 3px;
  margin: 10px 0;
  border-radius: 2px;
  font-size: 12px;
  background: black;
  /* text-transform: uppercase; */
  font-weight: 600;
  color: #fff !important;
  border-left: none;
}
.single_third_section_img span::after {
  content: "";
  position: absolute;
  left: 0;
  z-index: 0;
  bottom: -7px;
  border-top: 8px solid black;
  border-right: 8px solid transparent;
}
.single_third_section_img:hover span {
  background: #ee1414;
}

.single_third_section_img:hover span::after {
  border-top: 8px solid #ee1414;
}

.single_third_section_img img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.single_third_section_news small {
  color: gray;
}
.single_third_section_news a {
  color: rgb(25, 25, 25);
}
.single_third_section_news a:hover {
  color: rgb(53, 95, 150);
}

.third_section_right {
  border-top: 3px solid black;
}

.third_section_right span {
  display: inline-block;
  padding: 8px 15px;
  color: white;
  background-color: rgb(15, 15, 15);
  font-size: 18px;
}

.third_section_right_img img {
  width: 100%;
  height: 120px;
  object-fit: cover;
}

.third_section_right {
  position: sticky;
  top: 10px;
}
.third_section_right_title h6 {
  color: rgb(25, 25, 25);
  font-size: 15px;
}
.align-items-end:hover h6 {
  color: #db3236;
}
.third_section_right_title small {
  color: gray;
  font-size: 12px;
}
.third_section_right_title {
  padding: 0 3px 0 0 !important;
}

footer {
  background: url("img/footer-bg1.jpg");
  width: 100%;
  position: relative;
  z-index: 1;
  background-size: cover;
}
footer::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.87);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.main_footer {
  width: 80%;
  margin: 0 auto !important;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(70, 70, 70);
  z-index: 5;
  position: relative;
}

.main_left_footer h5,
.main_middle_footer h5 {
  color: whitesmoke;
  margin-bottom: 0;
}
.main_left_footer small,
.main_middle_footer small {
  font-size: 13px;
  color: rgb(223, 223, 223);
  font-weight: 300;
}
.left_footer,
.middle_footer {
  display: flex;
  align-items: center;
  color: white;
  margin: 18px 0 !important;
}
.left_footer img,
.middle_footer img {
  width: 140px;
  height: 100px;
  margin-right: 10px;
  object-fit: cover;
}
.left_footer_title,
.middle_footer_title {
  color: whitesmoke;
  padding: 5px 0 !important;
}
.left_footer_title h6,
.middle_footer_title h6 {
  font-size: 14px;
  color: white;
  margin-bottom: 0 !important;
}
.left_footer_title h6:hover,
.middle_footer_title h6:hover {
  color: #71d0ff;
}
.right_footer ul {
  width: 200px;
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 0;
}
.right_footer ul:hover {
  color: #71d0ff;
}
.right_footer h5 {
  color: white;
}
.alt_left_footer img {
  width: 340px;
  height: 150px;
}
.alt_middle_footer {
  color: whitesmoke;
}

.alt_right_footer {
  color: white;
}
.alt_right_footer i {
  padding: 10px 0;
  width: 40px;
  text-align: center;
  border: 1px solid rgb(167, 167, 167);
}

.alt_footer {
  width: 90%;
  margin: auto !important;
  position: relative;
  z-index: 5;
  text-align: center;
}

.footer_contact a {
  color: white;
}
.footer_contact a:nth-child(1):hover {
  color: #4267b2;
}
.footer_contact a:nth-child(2):hover {
  color: purple;
}
.footer_contact a:nth-child(3):hover {
  color: #1da1f2;
}

.footer_bottom {
  position: relative;
  z-index: 10;
  padding: 10px;
  background-color: black;
}
.footer_bottom_text {
  width: 80% !important;
  margin: 0 auto;
}
.footer_bottom small {
  color: rgb(141, 141, 141);
  padding: 10px 0;
  background-color: black;
}

/* .about {
  background: url(img/world.jpg);
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
  z-index: 1;
  text-align: center;
  color: whitesmoke;
}
.about_message{
width: 80%;
margin: auto;
}
.about_left{
display: flex;
flex-direction: column;
justify-content: space-between;
}
.about_left input:focus{
  border: none;
  outline: none;
}
.about_left input{
  display:block;
  margin: auto;
  text-align: center;
  padding: 11px;
  margin: 4px 11px;
}
.about_right{
  width: 100%;
}
.about_contact a{
  color: white;
}
.about_contact a:hover{
  color: #ff681c;
}
.about_button{
  background-color:#ff681c;
	border-radius:20px;
	border:1px solid #ff681c;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:10px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px#ff681c;
} */

/* Politics */

.new2_main,
.new3_main {
  width: 80%;
  margin: auto;
}
.news2_section1_news_name {
  border-top: 3px solid black;
}
.news2_section1_news_name span {
  display: inline-block;
  padding: 8px 10px;
  color: white;
  background-color: rgb(15, 15, 15);
  font-size: 18px;
}
.news2_cards {
  display: flex;
  justify-content: space-evenly;
}
.news2_transition a {
  font-size: 14px;
  color: gray;
}

.news2_transition a:hover {
  color: gray;
}
.news2_transition i {
  font-size: 9px;
  color: gray;
}
.news2_card1,
.news2_card2,
.news2_card3,
.news2_card4 {
  background-size: cover;
  width: 300px;
  height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: 1s;
}
.news2_card1 {
  background: url("img/news2_card1.jpg");
}
.news2_card2 {
  background: url("img/news2_card2.jpg");
}
.news2_card3 {
  background: url("img/news2_card3.jpg");
}
.news2_card4 {
  background: url("img/news2_card4.jpg");
}
.news2_card1::after,
.news2_card2::after,
.news2_card3::after,
.news2_card4::after {
  content: "";
  position: absolute;
  background: rgba(3, 3, 3, 0.445);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.news2_card_title {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: rgb(250, 249, 249);
  z-index: 3;
  padding: 5px;
}
.news2_card1:hover,
.news2_card2:hover,
.news2_card3:hover,
.news2_card4:hover {
  filter: brightness(1.5);
}

.news2_card_title a,
.news2_card_title a:hover {
  color: whitesmoke;
}
.news2_right,
.details_news_name {
  border-top: 3px solid black;
}
.news2_right span,
.details_news_name span {
  display: inline-block;
  padding: 8px 15px;
  color: white;
  background-color: rgb(15, 15, 15);
  font-size: 18px;
}

.news2_single_news img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.news2_single_news small {
  color: gray;
}
.news2_single_news h5,
.news2_single_news p {
  color: black;
}
.news2_single_news:hover h5,
.news2_single_news:hover p {
  color: #32726b;
}

.news2_single_news img {
  width: 100%;
  height: 240px;
  transform: scale(1);
  transition: 0.5s;
  object-fit: cover;
}
.img {
  overflow: hidden;
}
.news2_single_news:hover img {
  transform: scale(1.2);
}

.pagination {
  padding: 8px 10px !important;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
 rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  width: max-content;
  text-align: center;
}

.pagination li {
  display: inline-block;
  list-style: none;
}
.pagination li a {
  display: inline-block;
  padding: 0.1px 12px;
  line-height: 35px;
  background-color: #fff;
  text-align: center;
  text-decoration: none;
  color: #252525;
  border-radius: 4px;
  margin: 5px;
  box-shadow:  0 5px 10px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
}
.pagination li a i{
  color: rgb(77, 77, 77);
}

.pagination li a:hover,
.pagination li a.active
{
  color: #fff;
  background: #2d5c56;
}
.pagination li a:hover i{
  color: white;
}
.pagination li:first-child a {
  border-radius: 40px 0 0 40px;
}
.pagination li:last-child a {
  border-radius: 0 40px 40px 0;
}


/* Details */

.details h2 {
  color: rgba(0, 0, 0, 0.932);
  margin-bottom: 12px !important;
}
.details small {
  color: rgb(94, 94, 94);
  font-size: 16px;
}
.details_content {
  width: 100%;
}
.details_content img {
  width: 100%;
}

.share_section {
  border-top: 1px solid rgb(216, 216, 216);
  border-bottom: 1px solid rgb(216, 216, 216);
  padding: 25px 0;
}
.share_section .share,
.share_section .facebook,
.share_section .twitter,
.share_section .whatsapp,
.share_section .telegram {
  text-align: center;
  padding: 10px;
  border: 1px solid #e9e9e9;
  margin: 0 10px;
  border-radius: 3px;
}
.share_section .share {
  position: relative;
}
.share_section .share i,
.share_section .share span {
  color: rgb(43, 42, 42);
}
.share_section .facebook i,
.share_section .facebook span {
  color: #516eab;
}
.share_section .facebook:hover i,
.share_section .facebook:hover span {
  color: #054deb;
}
.share_section .whatsapp i,
.share_section .whatsapp span {
  color: #7bbf6a;
}
.share_section .whatsapp:hover i,
.share_section .whatsapp:hover span {
  color: #64d448;
}
.share_section .whatsapp i {
  font-size: 18px;
}
.share_section .twitter i,
.share_section .twitter span {
  color: #1fb1dd;
}
.share_section .twitter:hover i,
.share_section .twitter:hover span {
  color: #67cfee;
}
.share_section .telegram i,
.share_section .telegram span {
  color: #0088cc;
}
.share_section .telegram:hover i,
.share_section .telegram:hover span {
  color: #036292;
}
.share_section span {
  margin-left: 5px;
  font-weight: 600;
  font-size: 14px;
}
.share_section i {
  border-right: 1px solid rgb(184, 184, 184);
  padding-right: 10px;
}

.btn-floating {
  display: inline-block;
  padding: 2px 9px;
  background-color: rgb(106, 167, 182) !important;
  color: white;
}

.btn-floating:hover {
  background-color: rgb(134, 198, 214) !important;
  color: whitesmoke;
}
.carousel-inner2 {
  width: 100% !important;
}
.card-body {
  padding: 10px !important;
}
.card-body h5 {
  width: 100%;
  color: black;
  font-size: 15px;
  padding: 0 !important;
  margin-bottom: 20px;
  height: 80px;
}
.btn-floating i {
  font-size: 14px !important;
}
.carousel-item .card {
  height: 310px;
}

.related {
  border-top: 3px solid black;
}
.related span {
  display: inline-block;
  padding: 4px 15px;
  color: white;
  background-color: rgb(15, 15, 15);
  font-size: 18px;
}
.card-img-top {
  height: 150px;
  object-fit: cover;
  overflow: hidden;
}
.card-img-top img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
  transform: scale(1);
}
.card:hover .card-img-top img {
  transform: scale(1.3);
}
.card-body .btn-sm {
  background-color: rgb(99, 163, 179) !important;
  padding: 6px 8px !important;
  color: white;
}

.contact_us_name {
  border-top: 3px solid rgb(15, 15, 15);
  border-radius: 2px;
}
.contact_us_name span {
  display: inline-block;
  padding: 8px 15px;
  color: white;
  background-color: rgb(15, 15, 15);
  font-size: 18px;
}
.contact_us .map {
  /* position: relative; */
  border: 3px solid rgb(226, 226, 226);
  /* padding:0; */
  /* z-index: 100; */
}
/* .contact_us .map::after{
    content: '';
    position: absolute;
    background-color:rgba(0, 0, 0, 0.747);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
z-index: -1;
  } */

.contact_us input,
.contact_us textarea {
  font-size: 15px;
  border: 1px solid rgb(230, 230, 230) !important;
}
.contact_us h4 {
  font-family: "Open Sans", sans-serif;
  color: #161b27;
  margin-top: 0px;
  font-weight: 600;
  font-size: 21px;
}
.contact_send_button .btn {
  background-color: #101011;
  width: 100%;
}
.contact_send_button a,
.contact_send_button a:hover {
  color: white;
}

.contact_us_right {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.contact_us_right p {
  margin: 0;
  font-size: 13px;
  letter-spacing: 0.2px;
}
.contact_us_right i {
  margin-left: 50px;
  font-size: 21px;
  color: rgb(134, 134, 134);
  margin-right: 10px;
}
.mobile {
  font-size: 30px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
@media only screen and (max-width: 1470px) and (min-width: 1200px) {
  .share_section .share,
  .share_section .facebook,
  .share_section .twitter,
  .share_section .whatsapp,
  .share_section .telegram {
    padding: 10px 0px;
    margin: 0 8px;
  }
  .share_section span {
    margin-left: 1px;
    font-size: 13.3px;
  }
  .share_section i {
    padding-right: 8px;
    font-size: 14px;
  }
  .share_section .whatsapp i {
    font-size: 15px;
  }
}
@media only screen and (max-width: 1200px) and (min-width: 1100px) {
  .popular_news_title h6,
  .popular_news_title p {
    font-size: 13px;
  }
  .popular_news_title {
    width: 200px;
    padding: 0 0 0 10px;
  }
  .area3_alt_title h6 {
    font-size: 13px;
  }
  .area3_left_main_title p,
  .area3_right_main_title p {
    font-size: 13px;
  }
  .third_section_right_title small {
    font-size: 11px;
  }
  .third_section_right_title h6 {
    font-size: 13px;
  }
  .third_section_right_title {
    padding: 0 3px 0 0 !important;
  }
  .left_footer_title,
  .middle_footer_title {
    padding: 5px 0 !important;
  }
  .left_footer_title h6,
  .middle_footer_title h6 {
    font-size: 12px;
    margin-bottom: 0 !important;
  }
  .left_footer_title small,
  .middle_footer_title small {
    font-size: 10px;
  }
  .news2_single_news_title h5 {
    font-size: 17px;
  }
  .news2_single_news_title p,
  .news2_single_news_title small {
    font-size: 13px;
  }

  .card-body h5 {
    font-size: 13px;
    margin-bottom: 10px;
    height: 85px;
  }
  .btn-floating {
    padding: 1px 8px;
  }
  .btn-floating i {
    font-size: 12px !important;
  }
  .carousel-item .card {
    height: 300px;
  }
  .card-img-top {
    height: 140px;
  }
  .card-body .btn-sm {
    padding: 5px 7px !important;
    font-size: 13px;
  }
  .details h2 {
    font-size: 26px;
    padding-right: 30px !important;
  }
  .share_section .share,
  .share_section .facebook,
  .share_section .twitter,
  .share_section .whatsapp,
  .share_section .telegram {
    padding: 10px 0px;
    margin: 0 8px;
  }
  .share_section span {
    margin-left: 1px;
    font-size: 13.3px;
  }
  .share_section .whatsapp i {
    font-size: 13px;
  }
  .share_section i {
    padding-right: 5px;
    font-size: 12px;
  }
}
@media only screen and (max-width: 1100px) and (min-width: 991px) {
  .navbarUl a {
    font-size: 15px;
    padding: 11px;
  }
  .select-box__input-text {
    font-size: 15px;
  }
  .search input {
    width: 140px !important;
    padding: 3px !important;
  }
  .search button {
    padding: 1px !important;
  }
  .dropdown {
    position: absolute !important;
    top: 52px;
  }
  .left_img {
    height: 400px !important;
  }
  .right_top_img {
    height: 240px;
    margin-bottom: 10px;
  }
  .right_bottom_img {
    height: 150px;
  }

  .left_img_title h3 {
    font-size: 18px;
  }
  .right_top_title h5 {
    font-size: 14px;
  }
  .right_bottom_title h6 {
    font-size: 11px;
    margin-bottom: 0;
  }
  .area1_right {
    margin-bottom: 14px;
  }
  .area1_right_img img {
    height: 100px;
  }
  .area1_right_img {
    padding: 0 !important;
  }
  .area1_right h6 {
    font-size: 11px;
  }

  .area1_left_img img {
    height: 200px;
  }
  .area1_left h4 {
    font-size: 16px;
    margin-bottom: 0;
  }
  .area1_left p,
  .area1_left small {
    font-size: 10px;
  }
  .facebook,
  .youtube,
  .twitter,
  .instagram,
  .telegram,
  .google {
    padding: 12px;
    width: 80px;
  }
  .facebook i,
  .youtube i,
  .twitter i,
  .instagram i,
  .telegram i,
  .google i {
    font-size: 20px;
  }

  .facebook p:nth-of-type(2),
  .youtube p:nth-of-type(2),
  .twitter p:nth-of-type(2),
  .instagram p:nth-of-type(2),
  .telegram p:nth-of-type(2),
  .google p:nth-of-type(2) {
    font-size: 12px;
  }

  .contain {
    height: 250px;
  }
  .contain .area2_slider {
    height: 250px;
  }
  .area2_slider img {
    height: 250px;
  }

  .slider_img_title p {
    font-size: 12px;
  }
  .slider_img_title h5 {
    font-size: 13px;
  }
  .single_popular_news img {
    width: 100px;
    height: 100px;
  }
  .popular_news_title {
    width: 200px;
    padding-left: 10px;
  }
  .popular_news_title h6,
  .popular_news_title p {
    font-size: 12px;
  }

  .area3_left_main_img,
  .area3_right_main_img {
    height: 250px;
  }

  .area3_left_main_title,
  .area3_right_main_title {
    height: 170px;
  }
  .area3_left_main_title p,
  .area3_right_main_title p {
    font-size: 13px;
  }
  .area3_left_main_title h5,
  .area3_right_main_title h5 {
    font-size: 15px;
  }
  .area3_alt_img {
    width: 220px;
    height: 90px;
  }
  .area3_alt_title small {
    color: gray;
    font-size: 11px;
  }
  .area3_alt_title h6 {
    font-size: 12px;
  }
  .card1,
  .card2,
  .card3,
  .card4 {
    width: 300px;
    height: 300px;
  }
  .news2_card1,
  .news2_card2,
  .news2_card3,
  .news2_card4 {
    width: 300px;
    height: 300px;
  }
  .news2_card_title,
  .card_title h6 {
    font-size: 16px;
  }
  .single_third_section_news h5 {
    font-size: 17px;
  }
  .third_section_right_img img {
    height: 100px;
  }
  .third_section_right_title h6 {
    font-size: 12px;
  }
  .third_section_right_title small {
    font-size: 11px;
  }

  .main_footer {
    width: 90%;
  }
  .left_footer,
  .middle_footer {
    margin: 15px 0 !important;
  }
  .left_footer img,
  .middle_footer img {
    width: 120px;
    height: 90px;
    margin-right: 10px;
    object-fit: cover;
  }
  .left_footer_title h6,
  .middle_footer_title h6 {
    font-size: 12px;
  }
  .alt_left_footer img {
    width: 290px;
    height: 150px;
  }
  .news2_single_news_title h5 {
    font-size: 17px;
    margin-bottom: 0 !important;
  }
  .news2_single_news_title p,
  .news2_single_news_title small {
    font-size: 13px;
  }

  .card-body h5 {
    font-size: 13px;
    margin-bottom: 5px;
    height: 100px;
  }
  .btn-floating {
    padding: 1px 8px;
  }
  .btn-floating i {
    font-size: 12px !important;
  }
  .carousel-item .card {
    height: 285px;
  }
  .card-img-top {
    height: 130px;
  }
  .card-body .btn-sm {
    padding: 5px 7px !important;
    font-size: 13px;
  }
  .details h2 {
    font-size: 25px;
    padding-right: 20px !important;
    margin-bottom: 10px !important;
  }
  .details small {
    font-size: 15px;
  }
  .share_section .share,
  .share_section .facebook,
  .share_section .twitter,
  .share_section .whatsapp,
  .share_section .telegram {
    text-align: center;
    padding: 10px 0px;
    border: 1px solid #e9e9e9;
    margin: 0 7px;
    border-radius: 3px;
  }
  .share_section span {
    margin-left: 1px;
    font-size: 12px;
  }
  .share_section .whatsapp i {
    font-size: 12px;
  }
  .share_section i {
    padding-right: 5px;
    font-weight: 600;
    font-size: 12px;
  }
}
@media only screen and (max-width: 991px) and (min-width: 768px) {
  .navbarUl a {
    font-size: 13px;
    padding: 12px 9px;
    margin-left: 0;
  }
  .select-box__input-text {
    font-size: 12px;
  }
  .search input {
    width: 100px !important;
    padding: 4px !important;
    font-size: 14px;
    margin-right: 4px !important;
  }
  .search button {
    font-size: 12px;
    padding: 2px !important;
    margin-right: 10px !important;
  }
  .select-box__icon {
    right: 20px;
    font-size: 12px;
  }

  .select-box__option {
    display: block;
    padding: 8px;
    font-size: 15px;
    background-color: #fff;
  }
  .left_img {
    height: 300px !important;
  }
  .right_top_img {
    height: 190px;
  }
  .right_bottom_img {
    height: 100px;
  }
  .left_img_title h3 {
    font-size: 18px;
  }
  .right_top_title h5 {
    font-size: 14px;
  }
  .right_bottom_title h6 {
    font-size: 9px;
    margin-bottom: 0;
  }

  .right_bottom_title span {
    padding: 2px;
    margin: 10px 0;
    font-size: 8px;
  }
  .area1_right {
    margin-bottom: 14px;
  }
  .area1_right_img img {
    height: 120px;
  }
  .area1_right_img {
    padding: 0 !important;
  }
  .area1_right h6 {
    margin-top: 5px;
    font-size: 14px;
  }
  .area1_right_title {
    padding: 0 !important;
  }
  .area1_left_img img {
    height: 350px;
  }
  .area1_left h4 {
    font-size: 25px;
    margin-top: 10px;
  }
  .area1_left p {
    font-size: 17px;
  }

  .facebook,
  .youtube,
  .twitter,
  .instagram,
  .telegram,
  .google {
    padding: 12px;
    width: 90px;
  }
  .single_popular_news img {
    width: 160px;
    height: 160px;
  }
  .popular_news_title {
    width: 400px;
    padding-left: 20px;
  }
  .popular_news_title h6 {
    font-size: 18px;
  }
  .area3_left_main_title,
  .area3_right_main_title {
    height: 165px;
  }
  .area3_left_main_title p,
  .area3_right_main_title p {
    font-size: 13px;
  }
  .area3_left_main_title h5,
  .area3_right_main_title h5 {
    font-size: 17px;
  }

  .area3_alt_img {
    width: 220px;
    height: 90px;
  }
  .area3_alt_title small {
    font-size: 11px;
  }
  .area3_alt_title h6 {
    font-size: 12px;
  }
  .news_cards,
  .news2_cards {
    display: flex;
    flex-wrap: wrap;
  }

  .card1,
  .card2,
  .card3,
  .card4,
  .news2_card1,
  .news2_card2,
  .news2_card3,
  .news2_card4 {
    width: 250px;
    height: 300px;
  }
  .card_title h6 {
    font-size: 16px;
  }
  .single_third_section_img img {
    height: 350px;
  }

  .third_section_right_img img {
    height: 350px;
  }
  .third_section_right_title h6 {
    margin-top: 10px;
    font-size: 18px;
  }
  .third_section_right_title small {
    font-size: 14px;
  }
  .third_section_right_title {
    padding-left: 10px !important;
  }
  .main_footer {
    width: 95%;
  }
  .main_left_footer small,
  .main_middle_footer small {
    font-size: 12px;
  }
  .left_footer,
  .middle_footer {
    margin: 12px 0 !important;
  }
  .left_footer img,
  .middle_footer img {
    width: 120px;
    height: 90px;
  }
  .left_footer_title,
  .middle_footer_title {
    color: white;
    padding: 5px;
  }
  .left_footer_title h6,
  .middle_footer_title h6 {
    font-size: 15px;
    color: white;
    margin-bottom: 0;
  }
  .main_right_footer {
    display: none;
  }
  .alt_middle_footer {
    margin: 15px 0 !important;
  }
  .alt_middle_footer p {
    font-size: 18px;
  }
  .alt_middle_footer h4 {
    font-size: 25px;
  }

  .carousel h6 {
    font-size: 12px !important;
  }

  .news2_single_news_title h5 {
    font-size: 18px;
    margin-bottom: 3px !important;
  }
  .news2_single_news_title p,
  .news2_single_news_title small {
    font-size: 13px;
  }
  .carousel-inner2 {
    width: 100% !important;
    margin: 0 !important;
  }
  .card-body h5 {
    font-size: 13px;
    margin-bottom: 0 !important;
    height: 100px;
  }
  .btn-floating {
    padding: 1px 8px;
  }
  .btn-floating i {
    font-size: 12px !important;
  }
  .carousel-item .card {
    height: 280px;
  }
  .card-img-top {
    height: 130px !important;
  }
  .card-body .btn-sm {
    padding: 5px 7px !important;
    font-size: 13px;
  }
  .details h2 {
    font-size: 24px;
    padding-right: 60px !important;
    margin-bottom: 10px !important;
  }
  .details small {
    font-size: 15px;
  }
  .share_section .share,
  .share_section .facebook,
  .share_section .twitter,
  .share_section .whatsapp,
  .share_section .telegram {
    padding: 10px 0px;
    margin: 0 8px;
  }
  .share_section span {
    margin-left: 2px;
    font-size: 12px;
  }
  .share_section .whatsapp i {
    font-size: 13px;
  }
  .share_section i {
    font-size: 12px;
  }
}
@media only screen and (max-width: 768px) and (min-width: 576px) {
  .left_img {
    height: 350px !important;
  }
  .right_top_img {
    height: 300px;
  }
  .right_bottom_img {
    height: 300px;
  }
  .left_img_title span,
  .right_top_title span,
  .right_bottom_title span {
    padding: 3px;
    margin: 10px 0;
    font-size: 9px;
  }
  .area1_right {
    margin-bottom: 14px;
  }
  .area1_right_img img {
    height: 300px;
  }
  .area1_right h6 {
    margin-top: 5px;
    font-size: 18px;
  }
  .area1_left_img img {
    height: 350px;
  }
  .area1_left h4 {
    font-size: 25px;
    margin-top: 10px;
  }
  .area1_left p {
    font-size: 17px;
  }
  .facebook,
  .youtube,
  .twitter,
  .instagram,
  .telegram,
  .google {
    padding: 12px;
    width: 120px;
    margin-right: 10px;
  }
  .facebook i,
  .youtube i,
  .twitter i,
  .instagram i,
  .google i,
  .telegram i {
    font-size: 20px;
  }
  .facebook p:nth-of-type(2),
  .youtube p:nth-of-type(2),
  .twitter p:nth-of-type(2),
  .instagram p:nth-of-type(2),
  .google p:nth-of-type(2),
  .telegram p:nth-of-type(2) {
    font-size: 12px;
  }
  .contain {
    height: 200px;
  }
  .contain .area2_slider {
    height: 200px;
  }
  .area2_slider img {
    height: 200px;
  }
  .slider_img_title p {
    font-size: 12px;
  }
  .slider_img_title h5 {
    font-size: 13px;
  }
  .single_popular_news img {
    width: 140px;
    height: 140px;
  }
  .popular_news_title {
    width: 300px;
    padding-left: 20px;
  }
  .popular_news_title h6 {
    font-size: 17px;
  }
  .area3_left_main_title,
  .area3_right_main_title {
    height: 180px;
  }
  .area3_alt_img {
    width: 200px;
    height: 140px;
  }
  .area3_alt_title small {
    color: gray;
    font-size: 13px;
  }
  .area3_alt_title h6 {
    font-size: 15px;
  }
  .news_cards,
  .news2_cards {
    display: flex;
    flex-wrap: wrap;
  }
  .card1,
  .card2,
  .card3,
  .card4 {
    width: 210px;
    height: 260px;
  }
  .news2_card1,
  .news2_card2,
  .news2_card3,
  .news2_card4 {
    width: 200px;
    height: 250px;
    margin: 10px 9px;
  }
  .card_title h6,
  .card_title p,
  .news2_card_title h6,
  .news2_card_title p {
    font-size: 14px;
  }
  .card_title small,
  .news2_card_title small {
    font-size: 11px;
  }
  .single_third_section_img img {
    height: 400px;
  }
  .third_section_right_img img {
    height: 350px;
  }
  .third_section_right_title h6 {
    margin-top: 10px;
    font-size: 18px;
  }
  .third_section_right_title small {
    font-size: 14px;
  }
  .third_section_right_title {
    padding-left: 10px !important;
  }
  .main_footer {
    width: 95%;
  }
  .main_left_footer small,
  .main_middle_footer small {
    font-size: 14px;
  }
  .left_footer img,
  .middle_footer img {
    width: 160px;
    height: 120px;
  }
  .left_footer_title,
  .middle_footer_title {
    padding: 15px;
  }
  .left_footer_title h6,
  .middle_footer_title h6 {
    font-size: 18px;
  }
  .main_right_footer {
    display: none;
  }
  .alt_middle_footer {
    margin: 20px 0 !important;
  }
  .alt_middle_footer p {
    font-size: 18px;
  }
  .alt_middle_footer h4 {
    font-size: 25px;
  }
  .alt_left_footer img {
    width: 250px;
    height: 110px;
  }
  .carousel-inner {
    width: 92% !important;
  }
  header .carousel-item {
    height: 40px;
  }
  .carousel h6 {
    font-size: 14px !important;
  }
  /* .carousel-control-next-icon,
  .carousel-control-prev-icon {
    width: 1rem !important;
    height: 1rem !important;
  } */
  .news2_single_news_title h5 {
    font-size: 20px;
    margin-bottom: 3px !important;
  }
  .news2_single_news_title p {
    font-size: 14px;
  }
  .img img {
    height: 250px !important;
  }

  .cdp_i {
    padding: 4px 10px !important;
    font-size: 15px !important;
  }
  .carousel-inner2 {
    width: 100% !important;
    margin: 0 !important;
  }
  .carousel-item .card {
    height: 400px;
  }
  .card-img-top {
    height: 250px !important;
  }
  .card-body h5 {
    font-size: 18px;
    margin-bottom: 0 !important;
    height: 90px;
  }
  .btn-floating {
    padding: 2px 8px;
  }
  .btn-floating i {
    font-size: 12px !important;
  }
  .card-body .btn-sm {
    padding: 8px 10px !important;
    font-size: 15px;
  }
  .details h2 {
    font-size: 22px;
    padding-right: 40px !important;
    margin-bottom: 10px !important;
  }
  .details small {
    font-size: 14px;
  }

  .share_section .share,
  .share_section .facebook,
  .share_section .twitter,
  .share_section .whatsapp,
  .share_section .telegram {
    padding: 10px 0px;
    margin: 0 6px;
  }
  .share_section span {
    margin-left: 0px;
    font-size: 11.3px;
  }
  .share_section .whatsapp i {
    font-size: 12px;
  }
  .share_section i {
    font-size: 12px;
    padding-right: 0px;
    border: none;
  }
  .contact_us .map {
    height: 340px;
  }
}

@media only screen and (max-width: 575px) and (min-width: 425px) {
  .closeNav input {
    width: 150px;
  }
  .closeNav button {
    font-size: 12px;
    padding: 0 2px !important;
    font-weight: 900px !important;
  }

  .left_img {
    height: 300px !important;
  }
  .right_top_img {
    height: 250px;
  }
  .right_bottom_img {
    height: 250px;
  }
  .left_img_title h3 {
    font-size: 18px;
  }
  .right_top_title h5 {
    font-size: 16px;
  }
  .area1_right {
    margin-bottom: 8px;
  }
  .area1_right_img img {
    height: 250px;
  }
  .area1_right h6 {
    margin-top: 5px;
    font-size: 17px;
  }
  .area1_left_img img {
    height: 300px;
  }
  .area1_left h4 {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 0;
  }
  .area1_left p {
    font-size: 13px;
  }
  .facebook,
  .youtube,
  .twitter,
  .instagram,
  .google,
  .telegram {
    padding: 8px;
    width: 100px;
    margin-right: 3px;
  }
  .facebook i,
  .youtube i,
  .twitter i,
  .instagram i,
  .google i,
  .telegram i {
    font-size: 18px;
  }
  .facebook p:nth-of-type(2),
  .youtube p:nth-of-type(2),
  .twitter p:nth-of-type(2),
  .instagram p:nth-of-type(2),
  .google p:nth-of-type(2),
  .telegram p:nth-of-type(2) {
    font-size: 12px;
  }
  .facebook p,
  .youtube p,
  .twitter p,
  .instagram p {
    font-size: 12px;
  }
  .contain {
    height: 800px !important;
  }
  .contain .area2_slider {
    height: 800px;
  }
  .area2_slider img {
    height: 250px;
    margin-bottom: 10px;
  }

  .slider_img_title p {
    font-size: 14px;
  }
  .slider_img_title h5 {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .single_popular_news img {
    width: 120px;
    height: 120px;
  }
  .popular_news_title {
    width: 300px;
    padding-left: 16px;
  }
  .popular_news_title h6 {
    font-size: 15px;
  }
  .area3_left_main_title,
  .area3_right_main_title {
    height: 155px;
  }
  .area3_left_main_title p,
  .area3_right_main_title p {
    font-size: 13px;
  }
  .area3_left_main_title h5,
  .area3_right_main_title h5 {
    font-size: 16px;
  }
  .area3_alt_img {
    width: 200px;
    height: 110px;
  }
  .area3_alt_title small {
    font-size: 13px;
  }
  .area3_alt_title h6 {
    font-size: 14px;
  }
  .news_cards,
  .news2_cards {
    display: flex;
    flex-wrap: wrap;
  }
  .card1,
  .card2,
  .card3,
  .card4,
  .news2_card1,
  .news2_card2,
  .news2_card3,
  .news2_card4 {
    width: 300px;
    height: 300px;
  }
  .card_title h6,
  .card_title p,
  .news2_card_title h6,
  .news2_card_title p {
    font-size: 16px;
  }
  .card_title small,
  .news2_card_title small {
    font-size: 13px;
  }
  .third_section_right_img img {
    height: 300px;
  }
  .third_section_right_title h6 {
    margin-top: 10px;
    font-size: 19px;
  }
  .third_section_right_title small {
    font-size: 14px;
  }
  .third_section_right_title {
    padding-left: 10px !important;
  }
  .main_footer {
    width: 95%;
  }
  .left_footer,
  .middle_footer {
    margin: 15px 0 !important;
  }
  .main_left_footer small,
  .main_middle_footer small {
    font-size: 14px;
  }
  .left_footer img,
  .middle_footer img {
    width: 120px;
    height: 100px;
  }
  .left_footer_title,
  .middle_footer_title {
    padding: 10px;
  }
  .left_footer_title h6,
  .middle_footer_title h6 {
    font-size: 15px;
  }
  .main_right_footer {
    display: none;
  }
  .alt_left_footer img {
    width: 250px;
    height: 100px;
    margin-bottom: 5px;
  }
  header .carousel-item {
    height: 40px;
  }
  .carousel-inner {
    width: 90% !important;
  }
  .carousel h6 {
    font-size: 12px !important;
    padding: 10px 12px;
  }
  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    width: 1rem !important;
    height: 1rem !important;
  }
  .news2_single_news_title h5 {
    font-size: 18px;
    margin-bottom: 3px !important;
  }
  .news2_single_news_title p {
    font-size: 14px;
  }
  .img img {
    height: 220px !important;
  }
  .cdp_i {
    padding: 3px 8px !important;
    font-size: 14px !important;
  }
  #cdp_next,
  #cdp_prev {
    font-size: 12px !important;
    margin: 2px;
  }
  .carousel-inner2 {
    width: 100% !important;
    margin: 0 !important;
  }
  .carousel-item .card {
    height: 350px;
  }
  .card-img-top {
    height: 200px !important;
  }
  .card-body h5 {
    font-size: 15px;
    margin-bottom: 0 !important;
    height: 90px;
  }
  .details h2 {
    font-size: 19px;
    padding-right: 0 !important;
    margin-bottom: 2px !important;
  }
  .details small {
    font-size: 14px;
  }
  .share_section .share,
  .share_section .facebook,
  .share_section .twitter,
  .share_section .whatsapp,
  .share_section .telegram {
    padding: 10px 0px;
    margin: 0 8px;
  }
  .share_section span {
    margin-left: 2px;
    font-size: 12px;
  }
  .share_section .whatsapp i {
    font-size: 13px;
  }
  .share_section i {
    font-size: 12px;
  }
  .contact_us .map {
    height: 250px;
  }
  .pagination {
    padding: 5px !important;
   border-radius: 20px;
  
  }
 .pagination li a {
      padding: 0.1px 10px;
      line-height: 32px;
 }
}

@media only screen and (max-width: 425px) and (min-width: 375px) {
  .closeNav input {
    width: 150px;
  }
  .closeNav button {
    font-size: 12px;
    padding: 0 2px !important;
  }
  .head .logo {
    width: 70px;
    height: 70px;
  }
  .left_img {
    height: 300px !important;
  }
  .right_top_img {
    height: 200px;
  }
  .left_img_title h3 {
    font-size: 15px;
  }
  .right_top_title h5 {
    font-size: 14px;
  }
  .area1_right {
    margin-bottom: 8px;
  }
  .area1_right_img img {
    height: 200px;
  }
  .area1_right h6 {
    margin-top: 5px;
    font-size: 17px;
  }
  .area1_left_img img {
    height: 300px;
  }
  .area1_left h4 {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 0;
  }
  .area1_left p {
    font-size: 13px;
  }
  .area1_left_title small {
    font-size: 12px;
  }
  .facebook,
  .youtube,
  .twitter,
  .instagram,
  .google,
  .telegram {
    padding: 8px;
    width: 90px;
    margin-right: 3px;
  }
  .facebook i,
  .youtube i,
  .twitter i,
  .instagram i,
  .google i,
  .telegram i {
    font-size: 18px;
  }
  .facebook p:nth-of-type(2),
  .youtube p:nth-of-type(2),
  .twitter p:nth-of-type(2),
  .instagram p:nth-of-type(2),
  .google p:nth-of-type(2),
  .telegram p:nth-of-type(2) {
    font-size: 12px;
  }
  .facebook p,
  .youtube p,
  .twitter p,
  .instagram p {
    font-size: 12px;
  }
  .contain {
    height: 700px !important;
  }
  .contain .area2_slider {
    height: 700px;
  }
  .area2_slider img {
    height: 220px;
  }
  .slider_img_title p {
    font-size: 14px;
  }
  .slider_img_title h5 {
    font-size: 16px;
  }
  .single_popular_news img {
    width: 110px;
    height: 110px;
  }
  .popular_news_title {
    width: 300px;
    padding-left: 14px;
  }
  .popular_news_title h6 {
    font-size: 13px;
  }
  .popular_news_title p {
    font-size: 10px;
  }
  .area3_left_main_img,
  .area3_right_main_img {
    height: 250px;
  }
  .area3_left_main_title,
  .area3_right_main_title {
    height: 160px;
  }
  .area3_left_main_title p,
  .area3_right_main_title p {
    font-size: 13px;
  }
  .area3_left_main_title h5,
  .area3_right_main_title h5 {
    font-size: 16px;
  }
  .area3_alt_img {
    width: 200px;
    height: 100px;
  }
  .area3_alt_title small {
    font-size: 11px;
  }
  .area3_alt_title h6 {
    font-size: 12px;
  }
  .news_cards,
  .news2_cards {
    display: flex;
    flex-wrap: wrap;
  }
  .card1,
  .card2,
  .card3,
  .card4,
  .news2_card1,
  .news2_card2,
  .news2_card3,
  .news2_card4 {
    width: 300px;
    height: 270px;
  }
  .card_title h6,
  .card_title p {
    font-size: 10px;
  }
  .card_title small {
    font-size: 13px;
  }
  .third_section_right_img img {
    height: 250px;
  }
  .third_section_right_title h6 {
    margin-top: 10px;
    font-size: 18px;
  }
  .third_section_right_title small {
    font-size: 12px;
  }
  .third_section_right_title {
    padding-left: 10px !important;
  }
  .main_footer {
    width: 95%;
  }
  .left_footer,
  .middle_footer {
    margin: 5px 0 !important;
  }
  .left_footer img,
  .middle_footer img {
    width: 120px;
    height: 90px;
  }
  .left_footer_title,
  .middle_footer_title {
    padding: 15px 0;
  }
  .left_footer_title h6,
  .middle_footer_title h6 {
    font-size: 14px;
  }
  .main_right_footer {
    display: none;
  }
  .alt_left_footer img {
    width: 250px;
    height: 110px;
    margin-bottom: 5px;
  }
  header .carousel-item {
    height: 35px;
  }
  header .carousel h6 {
    font-size: 11px !important;
    padding: 10px 12px;
    line-height: 13px;
  }
  .news2_single_news img {
    height: 230px;
  }
  .news2_single_news_title h5 {
    font-size: 16px;
    margin-bottom: 3px !important;
  }
  .news2_single_news_title p {
    font-size: 13px;
  }
  .img img {
    height: 200px !important;
  }

  .cdp_i {
    padding: 2px 7px !important;
    font-size: 12px !important;
  }

  #cdp_next,
  #cdp_prev {
    font-size: 12px !important;
    margin: 2px;
  }
  .carousel-inner2 {
    width: 100% !important;
    margin: 0 !important;
  }
  .carousel-item .card {
    height: 345px;
  }
  .card-img-top {
    width: 100%;
    height: 200px !important;
  }
  .card-body h5 {
    font-size: 15px;
    margin-bottom: 0 !important;
    height: 90px;
  }
  .details h2 {
    font-size: 18px;
    padding-right: 0 !important;
    margin-bottom: 4px !important;
  }
  .details small {
    font-size: 13px;
  }
  .contact_us .map {
    height: 230px;
  }
  .pagination {
    padding: 5px !important;
   border-radius: 20px;
  
  }
 .pagination li a {
    padding:0 9px;
    line-height: 27px;
    border-radius: 4px;
    margin: 5px;
    font-size: 13px;
    }
}

@media only screen and (max-width: 375px) and (min-width: 320px) {
  .closeNav input {
    width: 130px !important;
    padding: 5px !important;
  }
  .closeNav button {
    margin-right: 2px !important;
  }
  .select-box__option {
    display: block;
    padding: 5px;
  }
  .select-box__current:focus + .select-box__list .select-box__option {
    cursor: pointer;
    border-radius: 3px;
  }
  .head .logo {
    width: 70px;
    height: 70px;
  }
  .main_content {
    margin-top: 20px !important;
  }
  .left_img {
    height: 250px !important;
  }
  .right_top_img {
    height: 200px;
  }
  .left_img_title h3 {
    font-size: 15px;
  }
  .right_top_title h5 {
    font-size: 14px;
  }
  .area1_right {
    margin-bottom: 8px;
  }
  .area1_right_img img {
    height: 200px;
  }
  .area1_right h6 {
    margin-top: 5px;
    font-size: 17px;
  }
  .area1_left_img img {
    height: 300px;
  }
  .area1_left h4 {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 0;
  }
  .area1_left p {
    font-size: 12px;
  }
  .area1_left_title small {
    font-size: 12px;
  }
  .facebook,
  .youtube,
  .twitter,
  .instagram,
  .google,
  .telegram {
    padding: 8px;
    width: 70px;
    margin-right: 3px;
  }
  .facebook i,
  .youtube i,
  .twitter i,
  .instagram i,
  .google i,
  .telegram i {
    font-size: 18px;
  }
  .facebook p:nth-of-type(2),
  .youtube p:nth-of-type(2),
  .twitter p:nth-of-type(2),
  .instagram p:nth-of-type(2),
  .google p:nth-of-type(2),
  .telegram p:nth-of-type(2) {
    font-size: 10px;
  }
  .facebook p,
  .youtube p,
  .twitter p,
  .instagram p {
    font-size: 11px;
  }
  .contain {
    height: 620px !important;
  }
  .contain .area2_slider {
    height: 620px;
  }
  .area2_slider img {
    height: 200px;
    margin-bottom: 10px;
  }
  .slider_img_title p {
    font-size: 14px;
  }
  .slider_img_title h5 {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .single_popular_news img {
    width: 100px;
    height: 100px;
  }
  .popular_news_title {
    width: 300px;
    padding-left: 14px;
  }
  .popular_news_title h6,
  .popular_news_title p {
    font-size: 11px;
  }
  .area3_left_main_img,
  .area3_right_main_img {
    height: 220px;
  }
  .area3_left_main_title,
  .area3_right_main_title {
    height: 160px;
  }
  .area3_left_main_title p,
  .area3_right_main_title p {
    font-size: 11px;
  }
  .area3_left_main_title h5,
  .area3_right_main_title h5 {
    font-size: 16px;
  }
  .area3_alt_img {
    width: 210px;
    height: 90px;
  }
  .area3_alt_title small {
    font-size: 10px;
  }
  .area3_alt_title h6 {
    font-size: 11px;
  }
  .news_cards,
  .news2_cards {
    display: flex;
    flex-wrap: wrap;
  }
  .card1,
  .card2,
  .card3,
  .card4,
  .news2_card1,
  .news2_card2,
  .news2_card3,
  .news2_card4 {
    height: 240px;
  }
  .card_title h6,
  .card_title p {
    font-size: 16px;
  }
  .card_title small {
    font-size: 12px;
  }
  .news2_cards small {
    font-size: 10px;
  }
  .single_third_section_img img {
    height: 250px;
  }
  .single_third_section_news h5 {
    font-size: 16px;
    margin-bottom: 0;
  }
  .single_third_section_news small {
    font-size: 12px;
  }
  .third_section_right_img img {
    height: 250px;
  }
  .third_section_right_title h6 {
    margin-top: 10px;
    font-size: 16px;
  }
  .third_section_right_title small {
    font-size: 12px;
  }
  .third_section_right_title {
    padding-left: 10px !important;
  }
  .main_footer {
    width: 95%;
    padding-right: 0 !important;
  }
  .left_footer,
  .middle_footer {
    margin: 20px 0 !important;
  }
  .left_footer img,
  .middle_footer img {
    width: 105px;
    height: 80px;
  }
  .left_footer_title,
  .middle_footer_title {
    padding: 5px 0;
  }
  .left_footer_title h6,
  .middle_footer_title h6 {
    font-size: 12px;
    margin-bottom: 0;
  }
  .main_right_footer {
    display: none;
  }
  .alt_left_footer img {
    width: 250px;
    height: 110px;
    margin-bottom: 8px;
  }
  .alt_middle_footer p {
    font-size: 13px;
  }
  header .carousel-item {
    height: 35px;
  }
  header .carousel h6 {
    font-size: 10px !important;
    padding: 8px;
    line-height: 12px;
  }
  .news2_single_news img {
    height: 230px;
  }
  .news2_single_news_title h5 {
    font-size: 16px;
    margin-bottom: 3px !important;
  }
  .news2_single_news_title p {
    font-size: 14px;
  }
  .news2_single_news_title small {
    font-size: 13px;
  }
  .img img {
    height: 200px !important;
  }

  .cdp_i {
    padding: 1px 5px !important;
    font-size: 10px !important;
  }
  #cdp_next,
  #cdp_prev {
    font-size: 10px !important;
    margin: 1px;
  }
  .carousel-inner2 {
    width: 100% !important;
    margin: 0 !important;
  }
  .carousel-item .card {
    height: 345px;
  }
  .card-img-top {
    width: 100%;
    height: 200px !important;
  }
  .card-body h5 {
    font-size: 13.5px;
    margin-bottom: 0 !important;
    height: 85px;
  }
  .card-body .btn-sm {
    padding: 5px 10px !important;
    font-size: 13px;
  }
  .details h2 {
    font-size: 18px;
    padding-right: 0 !important;
    margin-bottom: 4px !important;
  }
  .details small {
    font-size: 13px;
  }
  .contact_us .map {
    height: 230px;
  }
  .pagination {
    padding: 5px !important;
   border-radius: 20px;
    }
 .pagination li a {
    padding:0 9px;
    line-height: 27px;
    border-radius: 4px;
    margin: 5px;
    font-size: 13px;
    }
}
@media only screen and (max-width: 576px) {
  .area2_slider {
    display: flex !important;
  }
}

@media only screen and (max-width: 768px) {
  .closeNav {
    margin: auto;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url(img/navbarbg.jpg);
    position: relative;
    z-index: 2;
  }
  .closeNav::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #00000050 !important;
    z-index: -1;
  }
  .closeNav button {
    font-weight: 600 !important;
    border: 2px solid #c93c3c !important;
    color: #c93c3c !important;
    padding: 3px !important;
    font-size: 12px;
    padding: 0 2px !important;
    margin-right: 10px;
    box-sizing: border-box !important;
  }
  .my_navbar {
    display: none;
  }
  .closenav_right {
    display: flex;
    align-items: center;
  }
  header {
    width: 100% !important;
  }
  .closeNav {
    width: 100% !important;
    display: flex;
    justify-content: space-between;
  }
  .carousel-inner {
    width: 95% !important;
  }
  .carousel h6 {
    font-size: 8.5px;
  }
  .closeNav {
    width: 100%;
  }
  .head {
    width: 100% !important;
    margin: auto;
    padding: 0 !important;
  }

  header.container {
    max-width: 0;
  }
  header .carousel-inner h6 {
    padding: 2px !important;
  }
}

.cdp {
  padding: 20px 0;
  font-size: 0;
  z-index: 6;
  margin: 20px 0 !important;
  animation: cdp-in 500ms ease both;
}

.cdp_i {
  /* color: #4f6457; */
  color: #132226;
  padding: 1px 8px;
  border: 1.6px solid #4f6457;
  border-radius: 2px;
  display: none;
  font-size: 16px;
  font-weight: 600;
  margin: 0 4px 4px;
  font-weight: 700;
  letter-spacing: 0.03em;
  align-items: center;
  text-transform: uppercase;
}
#cdp_next,
#cdp_prev {
  padding: 2px 12px;
  border: 2px solid #4f6457;
  /* border-radius: 20px; */
}
.cdp_i:first-child,
.cdp_i:last-child {
  padding: 0 30px;
  margin: 0 12px 0px;
}
.cdp_i:last-child,
.cdp_i:nth-child(2),
.cdp_i:nth-last-child(2) {
  display: inline-block;
}
.cdp_i:hover {
  background: #5f8882;
  background-color: #525b56;
  color: #fff;
}
.cdp:not([actpage="1"]) .cdp_i:nth-child(1) {
  display: inline-block;
}
.cdp[actpage="1"] .cdp_i:nth-child(-1):not(:first-child):not(:nth-child(2)) {
  display: inline-block;
  pointer-events: none;
  color: transparent;
  border-color: transparent;
  width: 50px;
}
.cdp[actpage="1"]
  .cdp_i:nth-child(-1):not(:first-child):not(:nth-child(2)):after {
  content: "...";
  color: black;
  font-size: 32px;
  margin-left: -6px;
}
.cdp[actpage="1"] .cdp_i:nth-child(0):not(:first-child) {
  display: inline-block;
}
.cdp[actpage="1"] .cdp_i:nth-child(1):not(:first-child) {
  display: inline-block;
}
.cdp[actpage="1"] .cdp_i:nth-child(2) {
  background-color: #004445;
  color: #fff;
  display: inline-block;
}
.cdp[actpage="1"] .cdp_i:nth-child(2) + .cdp_i:last-child {
  display: none !important;
}
.cdp[actpage="1"] .cdp_i:nth-child(3):not(:last-child) {
  display: inline-block;
}
.cdp[actpage="1"] .cdp_i:nth-child(4):not(:last-child) {
  display: inline-block;
}
.cdp[actpage="1"] .cdp_i:nth-child(5):not(:last-child):not(:nth-last-child(2)) {
  display: inline-block;
  pointer-events: none;
  color: transparent;
  border-color: transparent;
  width: 50px;
}
.cdp[actpage="1"]
  .cdp_i:nth-child(5):not(:last-child):not(:nth-last-child(2)):after {
  content: "...";
  color: black;
  font-size: 32px;
  margin-left: -6px;
}
.cdp[actpage="2"] .cdp_i:nth-child(0):not(:first-child):not(:nth-child(2)) {
  display: inline-block;
  pointer-events: none;
  color: transparent;
  border-color: transparent;
  width: 50px;
}
.cdp[actpage="2"]
  .cdp_i:nth-child(0):not(:first-child):not(:nth-child(2)):after {
  content: "...";
  color: black;
  font-size: 32px;
  margin-left: -6px;
}
.cdp[actpage="2"] .cdp_i:nth-child(1):not(:first-child) {
  display: inline-block;
}
.cdp[actpage="2"] .cdp_i:nth-child(2):not(:first-child) {
  display: inline-block;
}
.cdp[actpage="2"] .cdp_i:nth-child(3) {
  background-color: #004445;
  color: #fff;
  display: inline-block;
}
.cdp[actpage="2"] .cdp_i:nth-child(3) + .cdp_i:last-child {
  display: none !important;
}
.cdp[actpage="2"] .cdp_i:nth-child(4):not(:last-child) {
  display: inline-block;
}
.cdp[actpage="2"] .cdp_i:nth-child(5):not(:last-child) {
  display: inline-block;
}
.cdp[actpage="2"] .cdp_i:nth-child(6):not(:last-child):not(:nth-last-child(2)) {
  display: inline-block;
  pointer-events: none;
  color: transparent;
  border-color: transparent;
  width: 50px;
}
.cdp[actpage="2"]
  .cdp_i:nth-child(6):not(:last-child):not(:nth-last-child(2)):after {
  content: "...";
  color: black;
  font-size: 32px;
  margin-left: -6px;
}
.cdp[actpage="3"] .cdp_i:nth-child(1):not(:first-child):not(:nth-child(2)) {
  display: inline-block;
  pointer-events: none;
  color: transparent;
  border-color: transparent;
  width: 50px;
}
.cdp[actpage="3"]
  .cdp_i:nth-child(1):not(:first-child):not(:nth-child(2)):after {
  content: "...";
  color: black;
  font-size: 32px;
  margin-left: -6px;
}
.cdp[actpage="3"] .cdp_i:nth-child(2):not(:first-child) {
  display: inline-block;
}
.cdp[actpage="3"] .cdp_i:nth-child(3):not(:first-child) {
  display: inline-block;
}
.cdp[actpage="3"] .cdp_i:nth-child(4) {
  background-color: #004445;
  color: #fff;
  display: inline-block;
}
.cdp[actpage="3"] .cdp_i:nth-child(4) + .cdp_i:last-child {
  display: none !important;
}
.cdp[actpage="3"] .cdp_i:nth-child(5):not(:last-child) {
  display: inline-block;
}
.cdp[actpage="3"] .cdp_i:nth-child(6):not(:last-child) {
  display: inline-block;
}
.cdp[actpage="3"] .cdp_i:nth-child(7):not(:last-child):not(:nth-last-child(2)) {
  display: inline-block;
  pointer-events: none;
  color: transparent;
  border-color: transparent;
  width: 50px;
}
.cdp[actpage="3"]
  .cdp_i:nth-child(7):not(:last-child):not(:nth-last-child(2)):after {
  content: "...";
  color: black;
  font-size: 32px;
  margin-left: -6px;
}
.cdp[actpage="4"] .cdp_i:nth-child(2):not(:first-child):not(:nth-child(2)) {
  display: inline-block;
  pointer-events: none;
  color: transparent;
  border-color: transparent;
  width: 50px;
}
.cdp[actpage="4"]
  .cdp_i:nth-child(2):not(:first-child):not(:nth-child(2)):after {
  content: "...";
  color: black;
  font-size: 32px;
  margin-left: -6px;
}
.cdp[actpage="4"] .cdp_i:nth-child(3):not(:first-child) {
  display: inline-block;
}
.cdp[actpage="4"] .cdp_i:nth-child(4):not(:first-child) {
  display: inline-block;
}
.cdp[actpage="4"] .cdp_i:nth-child(5) {
  background-color: #004445;
  color: #fff;
  display: inline-block;
}
.cdp[actpage="4"] .cdp_i:nth-child(5) + .cdp_i:last-child {
  display: none !important;
}
.cdp[actpage="4"] .cdp_i:nth-child(6):not(:last-child) {
  display: inline-block;
}
.cdp[actpage="4"] .cdp_i:nth-child(7):not(:last-child) {
  display: inline-block;
}
.cdp[actpage="4"] .cdp_i:nth-child(8):not(:last-child):not(:nth-last-child(2)) {
  display: inline-block;
  pointer-events: none;
  color: transparent;
  border-color: transparent;
  width: 50px;
}
.cdp[actpage="4"]
  .cdp_i:nth-child(8):not(:last-child):not(:nth-last-child(2)):after {
  content: "...";
  color: black;
  font-size: 32px;
  margin-left: -6px;
}
.cdp[actpage="5"] .cdp_i:nth-child(3):not(:first-child):not(:nth-child(2)) {
  display: inline-block;
  pointer-events: none;
  color: transparent;
  border-color: transparent;
  width: 50px;
}
.cdp[actpage="5"]
  .cdp_i:nth-child(3):not(:first-child):not(:nth-child(2)):after {
  content: "...";
  color: black;
  font-size: 32px;
  margin-left: -6px;
}
.cdp[actpage="5"] .cdp_i:nth-child(4):not(:first-child) {
  display: inline-block;
}
.cdp[actpage="5"] .cdp_i:nth-child(5):not(:first-child) {
  display: inline-block;
}
.cdp[actpage="5"] .cdp_i:nth-child(6) {
  background-color: #004445;
  color: #fff;
  display: inline-block;
}
.cdp[actpage="5"] .cdp_i:nth-child(6) + .cdp_i:last-child {
  display: none !important;
}
.cdp[actpage="5"] .cdp_i:nth-child(7):not(:last-child) {
  display: inline-block;
}
.cdp[actpage="5"] .cdp_i:nth-child(8):not(:last-child) {
  display: inline-block;
}
.cdp[actpage="5"] .cdp_i:nth-child(9):not(:last-child):not(:nth-last-child(2)) {
  display: inline-block;
  pointer-events: none;
  color: transparent;
  border-color: transparent;
  width: 50px;
}
.cdp[actpage="5"]
  .cdp_i:nth-child(9):not(:last-child):not(:nth-last-child(2)):after {
  content: "...";
  color: black;
  font-size: 32px;
  margin-left: -6px;
}
