@import url("../css/animate.css");

*{
    margin:0;
    padding: 0;
    list-style-type: none;
    text-decoration: none !important;
}
header{
    background-color: white;
    position: fixed;
}
.navbar-nav>li{
    margin:10px 
}
.navbar-nav>li a{
    cursor: pointer;
    color: #ffff;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    background-size: 200%;
}
.navbar-nav>li a:hover{
    color: #BE9278 !important;

}
header{
    position: relative;
}
.open{
    position: relative !important;
  
}
.dropdown{
    position:absolute !important;
    top: 55px;
    width: 180px;
    text-align: center;
    padding: 0 !important;
   visibility: hidden;
    opacity: 0;
    transition: 0.4s;
    background-color: #f1f1f1;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
    z-index: 1;
  
}
.dropdown>li a{
    color:black;
    display: block !important;
    padding:10px 0px !important;
   
}
.dropdown>li{
    border-bottom: 1px solid rgb(221, 221, 221);
}
.dropdown li:hover {
background-color: #BE9278 ;

}
.dropdown>li a:hover{
    color: white !important;
}

.open:hover .dropdown{
    visibility: visible;
    opacity: 1;
}
@media screen and (max-width: 991px) {
    .dropdown{
        display: none;       
    }
    .navbar-nav>li{
        margin:2px 
    }
     }

.main{
    background: linear-gradient(to right, rgba(16,26,48,0.7) 0%, rgba(16,26,48,0.7) 12%, #101a31 91%, #101a31 100%);
    position: relative !important;
    padding-bottom: 40px;
}
.row{
  

    --bs-gutter-x: 0rem !important;
}
.rotated {
    animation:spin 10s linear infinite;
   
  }
  @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
  @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
  @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.hero {
    margin-top:60px !important ;
    position: absolute !important;
    right: 0 !important;
    bottom: 0 !important;
    top: 0 !important;
    left: 900px;
}
.hero img{
    width: 100%;
    height: 100%;
}

.left{
    margin: 100px 0 0 0 !important;
    padding:20px;

}
@font-face {
    font-family: myFirstFont;
    src: url(lora/Lora-Regular.ttf);
    font-family: second;
    src:url(lora/Lora-Italic.ttf)
 }
.left h1{
    font-family: myFirstFont;
    margin-top: 30px;
    font-style: normal;color: #fff;
    font-size: 76px;
    font-weight: 600;
    margin-bottom: 14px;
    letter-spacing: 3px;
    line-height: 1.1;
    display: block;
   
}
.left p{
    font-family: myFirstFont;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 1.1;
    display: block;
    color: white;
    padding: 20px 0 20px 0;
}

button{
    padding: 20px 40px;
    background-color:#BE9278 ;
    border: none;
}
.prepare{
    margin-top: 100px;
}

.prepare h3{
    margin-bottom: 0px
}
.prepare p{
    text-align: center !important;
    font-size: 17px !important;
}
.imgg{
    width: 294px;
    height: 370px;
    overflow: hidden;
    margin: 0 auto;
}

.imgg img{
    transform: scale(1);
     overflow: hidden;
    transition: all 0.6s ease-out 0s;
}

.singleImg:hover:hover img{
    transform: scale(1.1);
    
}
h3>span{
    font-size: 20px !important;
    padding: 8px 18px;
    background-color: #BE9278;
    border-radius: 50%;
    color: white;
    transition:0.5s
}
.singleImg:hover .caps>h3>span {
    background-color: white !important;
    color:#332f2a;
    border: 1px solid #332f2a !important;
}


.visit-tailor-area {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 100px;
}

.visit-tailor-area::before {
    position: absolute;
    content: "";
    background: #F2E1D9;
    width: 68%;
    height: 100%;
    z-index: -9;
    right: 0;
    top: 0;
}
.visit-tailor-area .tailor-offers {
    background: url('../../img/bgr.png');
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    height: 570px;
    width: 50%;
    margin: 130px 0;
}


.btn {
    border: none;
    padding: 24px 47px;
    letter-spacing: 2px;
    cursor: pointer;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    transition: 0.6s;
    background-image: linear-gradient(to left, #c79f88, #b6876b, #c9a48f);
    background-position: right;
}
@media only screen and (min-width: 1200px) and (max-width: 1600px){
    .visit-tailor-area .tailor-details {
        width: 41%;
        margin-left:40px
    }
    } 
    @media only screen and (min-width: 767px) and (max-width: 991px){
        iframe{
            width: 600px;
            height: 400px;
        }
        .videobg{
            height: 500px !important;
        }
    }

@media only screen and (min-width: 576px) and (max-width: 767px)
{
.visit-tailor-area .tailor-offers {
    width: 100%;
    height: 500px;
    margin: 40px 0 0 0;

}

iframe{
    width: 400px;
    height: 300px;
}
.videobg{
    height: 350px !important;
}
}
 @media (max-width: 575px){
    .visit-tailor-area {
        margin: 0px ;
    }
    .visit-tailor-area .tailor-offers {
    width: 100%;
    height: 500px;
    margin: 5px ;
}
iframe{
    width: 200px;
    height: 200px;
}
.videobg{
    height: 250px !important;
}
} 
@media screen and (max-width: 991px){
.visit-tailor-area::before {
    position: unset;
}
.visit-tailor-area .tailor-offers {
    width: 100%;
    height: 500px;
    margin: 5px ;
}
.visit-tailor-area .tailor-details {
    width: 100%;
    padding: 50px 30px;
}

}
@media only screen and (min-width: 991px) and (max-width: 1199px){
.visit-tailor-area .tailor-details {
    width: 50%;
    padding: 50px 30px;
}}



.visit-tailor-area .tailor-details h2 {
    font-size: 56px;
    display: block;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 22px;
    text-transform: inherit;
}

.service p{
    font-size: 18px !important;
}

.service h1{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 53px;
    display: block;
    font-weight: 570;
 
 }

 .imageOp>img:hover{
     transition: 0.5s;
    opacity: 0.3;
    transform:rotate(360deg);
 }

.videobg{    
    background-image: url("../../img/videobg.png.webp");
    background-size: cover;
    background-position:center center ;
    width: 100%;
    height: 730px;
    position: relative;
}

.video-icon{
    position: absolute;
    top:50%;
    left: 50%;   
    transform: translate(-50%, -50%) !important;
  
}

a {
    position: relative;

}
.video-icon i{
    color: white;
    font-size: 1.5em;
}
.video-icon i{
    display: inline-block;
    padding: 50px;
    background-color: #BE9278;
    border: 2px solid #583f32;
    border-radius: 50%;
}
.video-icon i::after {
    position: absolute;
    border: 120px solid rgba(190,146,120,0.1);
    content: "";
    border-radius: 50%;
    left: -60px;
    top: -110px;
    right: 0;
    z-index: 0;
    background: #0000;

}
#iframe{
    position: absolute;
    top:50%;
    left: 50%;   
    transform: translate(-50%, -50%) !important;
 visibility: hidden;
    z-index: 100;

}
#iframe i{
    z-index: 100;
    font-size: 18px;
    color: white;
  position: absolute;
  left:95%;
  top:-5%


}

#iframe.iframeNew{
 visibility:visible;
}

#backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.75);
    z-index: 10;
    pointer-events: none;
    display: none;
    cursor: pointer;
  }
  
  #backdrop.visible {
    display: block;
    pointer-events: all;
  }




@media screen and (max-width: 991px) {
    .hero img{
    width: 0;
    height: 0;
    }
    .left h1{
        margin-top: 20px;
        font-size: 50px;
    }    
        

}
@media screen and (max-width: 1494px) {
    .hero {
        margin-top:60px !important ;
    position: absolute !important;
    right: 0 !important;
    bottom: 0 !important;
    top: 0 !important;
    left: 700px;
    }}

